<h3>Please contact us sending email using the e-mail link below</h3>
@*The Custom Tag Helper 'EmailTagHelper' class created, after being added to this ASP NET CORE App,
    by using the directive @addTagHelper CandyShop.TagHelpers.*, CandyShop, will be refered in razor views
    by using the customized tag helper <email></email>*@
<email address="info@candyshop.com" link-text="contact-us"></email>