div.card-detail-container {
    box-shadow: 0 4px 15px rgba(0,0,0,0.45);
    border-radius: 30px;
    margin-bottom: 30vh;
}

div.card-detail-container div.card-detail-header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #F47DBB;
    color: #FFF;
    border-radius: 30px 30px 0 0;
    padding: .8rem 1.6rem;
}

div.card-detail-container div.card-detail-header img {
    object-fit: contain;
    height: 30px;
    width: 30px;
    margin-right: 2rem;
}


div.card-detail-container div.card-detail-header h1 {
    font: 500 2.4rem Serif;
}

div.card-detail-container div.card-detail-body {
    width: 90%;
    margin: 1rem auto;
}

div.card-detail-container div.card-detail-body img {
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 30px;
}

    div.card-detail-container div.card-detail-body h3 {
        font: 600 2.4rem Serif;
        letter-spacing: 3px;
        margin-top: 1rem;
    }
    div.card-detail-container div.card-detail-body h4 {
        font-weight: 500;
    }

    div.card-detail-container div.card-detail-body p {
        font: 400 1.5rem Serif;
        padding: 2rem 0;
    }
    div.card-detail-container div.card-detail-body button {
        background-color: #6184D8;
        color: #FFF;
        font: 700 2rem Serif;
        width: 100%;
        border: none;
        padding: 2rem;
        border-radius: 30px;
        margin-bottom: 2rem;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        outline: none;
        transition: all .4s;
    }

    div.card-detail-container div.card-detail-body button:hover {
        background-color: #346df5;
        box-shadow: 0 4px 10px rgba(0,0,0,0.45);
    }