.header-candies-on-sale{
    margin: 3rem 0 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid #b5b5b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-candies-on-sale a {
    text-decoration: none;
    color: #FFF;
    background-color: #6184D8;
    font: 500 1.6rem Serif;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    transition: all .4s;
}

.header-candies-on-sale a:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.45);
    background-color: #346df5;
}